* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #313131;
    padding-top: 55px;
    height: 100vh;  //can set a maximum/minimum height of the body contents (Creates a bunch of white space or eliminates white space)
    color:#ffe6ee;
}

li {
    color: #ffe6ee;
    text-align: center;
}

a{
    color: #ffe6ee;
}

a:hover{
    color: #ff80c5;
}

.linebreak { //add a <p class="linebreak"></p> anywhere in the HTML that you want this line-break...
    width: 80%;
    margin: auto;
    padding-top: 25px;
    border-bottom: 2px #ff80c5 solid;
}

h1 {
    color:#ff80c5;
    text-align:center;
    margin-top: 25px;
}

.fusesimlnk {
    text-align: center;
    size: 90%;
    margin: auto;
    margin-top: 25px;
    font-size: 1.3em;
    
}

.linebreak { //add a <p class="linebreak"></p> anywhere in the HTML that you want this line-break...
    width: 80%;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 25px;
    border-bottom: 2px #ff6696 solid;
}

.addNFTButton{
    
    width: 60%;
    max-width: 1000px;
    margin: auto;
    text-align:center;

    ul {
        list-style-type: none;
    }

    button{
        background-color:#ff6696;
        border-radius: 5px;
        width: 150px;
        height: 33px;
        border: 1px #802642 solid;
    }
    button:hover{
        background-color: #802642;
        border-color: #ff6696;
        box-shadow: 4px 4px #ff6696;
    }
    button:active{
        background-color:#ff6696;
        border: 1px #802642 solid;
        box-shadow: 4px 4px #802642;
    }
}

.resetFuseButton{
    
    width: 60%;
    max-width: 1000px;
    margin: auto;
    text-align:center;

    ul {
        list-style-type: none;
    }

    button{
        background-color:#ff6696;
        border-radius: 5px;
        width: 150px;
        height: 33px;
        border: 1px #802642 solid;
    }
    button:hover{
        background-color: #802642;
        border-color: #ff6696;
        box-shadow: 4px 4px #ff6696;
    }
    button:active{
        background-color:#ff6696;
        border: 1px #802642 solid;
        box-shadow: 4px 4px #802642;
    }
}

.nftSelectMenu {
    ul {
        list-style-type: none;
        padding: 0px;
        min-width: 300px;
        width: 60%;
        max-width: 1000px;
        margin: auto;
    }

    li {
        padding: 5px;
    }

    select{
        height: 30px;
        border: 2px #ff6696 solid;
        border-radius: 4px;
        background-color: #ffe6ee;
        box-shadow: 4px 4px #802642;
    }

    form {

        input{
        width: 50px;
        height: 30px;

        border: 2px solid #ff6696;
        border-radius: 4px;
        background-color: #ffe6ee;
        }    
    }

    .theNFT{
        text-align: center;
        padding: 0;
        min-width: 300px;
        width: 60%;
        max-width: 1000px;
        margin: auto;
        
        li{
            display: inline-block;
        }
    }
}

.burnTable {
    list-style-type: none;
    text-align: center;
    padding: 50px;
    min-width: 350px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 2px #ff6696 solid;
    background-color: #6b4c4c;
    border-radius: 10px;

    z-index: 0;
    ul{
        display: inline-block;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
        }

    li {
        position: relative;
        display: inline-block;
        width: 15%;


        img{
            object-fit: cover;
            width: 100%;
            top: 0;
            background-color: #313131;
            border: 2px #ff6696 solid;
            border-radius: 5px;
        }

        p {
            display: inline-block;
            width: 100%;
            font-size: 2.7vw;
        }

        @media screen and (min-width: 800px) {
            p {
               font-size: 20px;
            }
          }

        .NYAol {
            // position:absolute;
            // bottom: -20%;
            float: left;
            color: #ff80c5;     
        }
    }  
}

.fuseButton{
    
    width: 60%;
    max-width: 1000px;
    margin: auto;
    text-align:center;

    ul {
        list-style-type: none;
    }

    button{
        background-color:#ff6696;
        border-radius: 5px;
        width: 150px;
        height: 33px;
        border: 1px #802642 solid;
    }
    button:hover{
        background-color: #802642;
        border-color: #ff6696;
        box-shadow: 4px 4px #ff6696;
    }
    button:active{
        background-color:#ff6696;
        border: 1px #802642 solid;
        box-shadow: 4px 4px #802642;
    }
}

.result {
    list-style-type: none;
}