@font-face {
    font-family: font1;
    src: url(../fonts/goodtimesrg.otf);
  }

* {
    font-family: font1;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #313131;
    padding-top: 55px;
    height: 100vh;  //can set a maximum/minimum height of the body contents (Creates a bunch of white space or eliminates white space)
    color:#ffe6ee;
}

li {
    color: #ffe6ee;
    text-align: center;
}

a{
    color: #ffe6ee;
}

a:hover{
    color: #ff80c5;
}

.linebreak {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    border-bottom: 2px #ff80c5 solid;
}

h1 {
    color:#ff80c5;
    text-align:center;
    margin-top: 25px;
}

.pinfo {
    text-align: center;
    margin: 20px;
    font-size: .75em;
}

.listhead {
    font-size: .8em;
    text-align: center;
    width: 50%;
    margin: auto;
    border-bottom: 2px #ff80c5 solid;
    margin-bottom: 10px;
}

.featurelist {
    width: 80%;
    margin: auto;
    font-size: .75em;
    
    li{
        padding-bottom: 20px;
    }
}