* {
    font-family: myFirstFont;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/goodtimesrg.otf);
  }

body {
    background: #313131;
    padding-top: 55px;
    height: 100vh;  //can set a maximum/minimum height of the body contents (Creates a bunch of white space or eliminates white space)
    color:#ffe6ee;
}

li {
    color: #ffe6ee;
    text-align: center;
}

ul {
    list-style-type: none;
}

a{
    color: #ffe6ee;
}

a:hover{
    color: #ff80c5;
}

h1 {
    
    color:#ff80c5;
    text-align:center;
    margin-top: 25px;
}

.description {
    text-align: center;
    size: 90%;
    margin: auto;
    margin-top: 25px;
    font-size: .75em;
}

.linebreak {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    border-bottom: 2px #ff80c5 solid;
}

.statsTable{
    margin-left: auto;
    text-align: center;
    margin-top: 25px;
    
    .statHeader {  
        //border: 1px red solid;
        font-size: .90em; 
        padding: 0px;
        min-width: 300px;   
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: flex;

        .statField{
            //border: 1px green solid;
            width: 50%;
            padding: 0px;
            text-align: left;
           
            ul {
                margin: 0px;
                padding: 0px;
                text-align: left;
                width: 100%;
                display: inline;

                .statcat{
                    color:orange;
                    text-decoration: underline;
                    width: 100%;
                    text-align: left;
                }
                .statres{
                    width: 100%;
                    text-align: left;
                }
            } 

        }

        .statHeaderButton{
            //border: 1px yellow solid;
            width: 50%;
            text-align: right;
            align-self:flex-end;
        }
    }

    // .chartView{

    // }
}

#chartCGCUSD {
    display: none;
}
#chartCGCBNB {
    display: none;
}
#chartTFP {
    display: none;
}
#chartS1PS {
    display: none;
}
#chartCGCLock {
    display: none;
}


